@model HomeGetViewModel
@{
    ViewBag.Title = "Get Demo";
    var HomeGetViewModel = Model;
}
<view name="HomeGet" outer="MainLayout" model="@HomeGetViewModel">
    <h2>List of items</h2>
    <form method="get" class="well well-sm get-form" view="HomeGet" model="HomeGetViewModel">
        <input type="search"
               class="form-control"
               name="@Html.NameFor(m => m.Form.Filter)"
               bindattr-value="Form.Filter" />
        <button type="submit" class="btn btn-primary">
            Filter
        </button>
    </form>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Description</th>
            </tr>
        </thead>
        <tbody bindattr-hidden="AnyItems" class="bg-warning text-warning">
            <tr>
                <td class="lead">
                    No items to display
                </td>
            </tr>
        </tbody>
        <tbody bindeach="Items" bindattr-hidden="NoItems" bindchildren="1">
            <tr>
                <td bindtext="Description"></td>
            </tr>
        </tbody>
    </table>
</view>