<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="application-name" content="html-mvc-aspnet5" />
    <meta name="application-version" content="0.1.0" />
    <title>@ViewBag.Title</title>
    <script src="~/lib/html-mvc/dist/html-mvc.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <style> 
        [hidden] { display: none; } 
        view { display: block; }

        .create-item-input {
            width: 200px;
            display: inline-block;
        }

        .get-form {
            display: flex;
        }

        .get-form input {
            flex-grow: 1;
        }

        .get-form button {
            flex-shrink: 0;
            margin-left: 15px;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
