@inject LayoutViewModel LayoutViewModel
@{
    Layout = "_Shell";
}
<view name="MainLayout" model="@LayoutViewModel">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-text">
                    html-mvc-aspnet5 demo
                </div>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="@Url.Action("Index", "Home")" view="HomeIndex" model="HomeIndexViewModel" title="Home">
                        Home
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Todo")" view="TodoIndex" model="TodoIndexViewModel" title="Todo Demo">
                        Todo Demo
                    </a>
                </li>
            </ul>
            <div class="navbar-right">
                <div class="navbar-text" bindtext="Random"></div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-push-2">
                @RenderBody()
                <footer>
                    <blockquote>
                        I hope you enjoyed the demo!
                        <div class="text-muted">
                            <cite>&mdash; Derek</cite>
                        </div>
                    </blockquote>
                </footer>
            </div>
        </div>
    </div>
</view>